In [4]:
import requests
import json

# Yelp api call

* calling using Manhattan Zip Codes
* calling using non-Manhattan Zip Codes

* Reason was because the zip codes took too long to run the first time.

In [3]:
from time import sleep

for i in range(10):
    print(i)
    sleep(0.5)

0
1
2
3
4
5
6
7
8
9

In [4]:
api_key = api_key
headers = {'Authorization':'Bearer %s' %api_key}
#part of the api call

In [16]:
from time import sleep

for i in range(10):
    print(i)
    sleep(0.5)

0
1
2
3
4
5
6
7
8
9

In [10]:
zip_2 = '94102'
url = 'https://api.yelp.com/v3/businesses/search'
params = {'term':'food', 'location':zip_2}
# in the for loop I need to change the location here

In [11]:
response=requests.get(url, params=params, headers=headers)
print('The Status Code is {}'.format(response.status_code))

The Status Code is 200

In [14]:
business_data = response.json()

In [6]:
import pandas as pd

In [19]:
new_york_zip_codes = [10453, 10458, 10451, 10454, 10463, 10466, 10461, 11212, 11209, 11204, 11234, 11223, 11201, 11203, 11207, 11211, 11220, 11206, 10026, 10001, 10029, 10010, 10012, 10004, 10002, 10021, 10023, 10031, 11361, 11354, 11365, 11412, 11101, 11374, 11691, 11004, 11414, 11368, 10302, 10306, 10301]

In [20]:
len(new_york_zip_codes)

41

In [1]:
manhattan_zip_codes = [10026, 10027, 10030, 10037, 10039, 10001, 10011, 10018, 10019, 10020, 10036, 10029, 10035, 10010, 10016, 10017, 10022, 10012, 10013, 10014, 10004, 10005, 10006, 10007, 10038, 10280, 10002, 10003, 10009, 10021, 10028, 10044, 10065, 10075, 10128, 10023, 10024, 10025, 10031, 10032, 10033, 10034, 10040]

In [2]:
len(manhattan_zip_codes)

43

In [76]:
for val in zip_codes_list:
    print(val)

94102
94103
94107
94108
94109
94110
94112
94114
94115
94116
94117
94118
94121
94122
94123
94124
94127
94131
94132
94133
94134

In [118]:
zip_codes_list_trial = [94134, 94110]

In [5]:
other_zip_codes = [10453, 10457, 10460, 10458, 10467, 10468, 10451, 10452, 10456, 10454, 10455, 10459, 10474, 10463, 10471, 10466, 10469, 10470, 10475, 10461, 10462,10464, 10465, 10472, 10473, 11212, 11213, 11216, 11233, 11238, 11209, 11214, 11228, 11204, 11218, 11219, 11230, 11234, 11236, 11239, 11223, 11224, 11229, 11235, 11201, 11205, 11215, 11217, 11231, 11203, 11210, 11225, 11226, 11207, 11208, 11211, 11222, 11220, 11232, 11206, 11221, 11237, 11361, 11362, 11363, 11364, 11354, 11355, 11356, 11357, 11358, 11359, 11360, 11365, 11366, 11367, 11412, 11423, 11432, 11433, 11434, 11435, 11436, 11101, 11102, 11103, 11104, 11105, 11106, 11374, 11375, 11379, 11385, 11691, 11692, 11693, 11694, 11695, 11697, 11004, 11005, 11411, 11413, 11422, 11426, 11427, 11428, 11429, 11414, 11415, 11416, 11417, 11418, 11419, 11420, 11421, 11368, 11369, 11370, 11372, 11373, 11377, 11378, 10302, 10303, 10310, 10306, 10307, 10308, 10309, 10312, 10301, 10304, 10305, 10314]

In [10]:
len(other_zip_codes)

135

In [8]:
master_list = []

In [9]:
from time import sleep

api_key = api_key
headers = {'Authorization':'Bearer %s' %api_key}
url = 'https://api.yelp.com/v3/businesses/search'
for zip_code in manhattan_zip_codes:
    params = {'term':'food', 'location':zip_code}
    response=requests.get(url, params=params, headers=headers)
    business_data = response.json()
    print('The Status Code is {}'.format(response.status_code))
    print(zip_code)
    cols = list(business_data['businesses'][0].keys())
    print(cols)
    df = pd.DataFrame(columns=cols)
    print(df)
    for biz in business_data['businesses']:
        df = df.append(biz, ignore_index=True)
    df2 = df['coordinates'].apply(pd.Series)
    df = pd.concat([df, df2], axis=1)
    new_list = []
    for ind in df.index: 
        length_of_cell = df['categories'][ind]
        count = 0
        second_new_list = []
        for val in length_of_cell:
            second_new_list.append(df['categories'][ind][count]['title'])
            count = count + 1
        new_list.append(second_new_list)
    df['categories_list'] = new_list
    df['coordinates_list'] = df[['latitude', 'longitude']].values.tolist()
    li = df.values.tolist()
    column_names = df.keys()
    master_list = master_list + li    
    sleep(0.5)
df = pd.DataFrame(master_list, columns=column_names)
df.head()

The Status Code is 200
10026
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10027
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10030
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10037
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10039
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10001
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10011
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10018
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10019
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10020
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10036
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10029
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10035
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10010
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10016
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10017
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10022
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10012
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10013
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10014
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10004
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10005
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10006
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10007
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10038
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10280
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10002
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10003
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10009
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10021
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10028
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10044
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10065
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10075
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10128
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10023
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10024
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10025
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10031
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10032
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10033
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10034
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []
The Status Code is 200
10040
['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance']
Empty DataFrame
Columns: [id, alias, name, image_url, is_closed, url, review_count, categories, rating, coordinates, transactions, price, location, phone, display_phone, distance]
Index: []

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance,latitude,longitude,categories_list,coordinates_list
0,tsiC3VpO-hZEb98Qk3p-DQ,amy-ruths-new-york,Amy Ruth's,https://s3-media2.fl.yelpcdn.com/bphoto/aX-TMD...,False,https://www.yelp.com/biz/amy-ruths-new-york?ad...,2655,"[{'alias': 'southern', 'title': 'Southern'}, {...",4.0,"{'latitude': 40.80248, 'longitude': -73.95038}","[pickup, delivery]",$$,"{'address1': '113 W 116th St', 'address2': '',...",+12122808779,(212) 280-8779,283.357,40.802480,-73.950380,"[Southern, Soul Food]","[40.80248, -73.95038]"
1,UILT56veNs63NASF3dGRKA,fieldtrip-new-york-2,Fieldtrip,https://s3-media2.fl.yelpcdn.com/bphoto/L6EmVN...,False,https://www.yelp.com/biz/fieldtrip-new-york-2?...,125,"[{'alias': 'newamerican', 'title': 'American (...",4.5,"{'latitude': 40.80165, 'longitude': -73.95029}","[pickup, delivery]",$$,"{'address1': '109 Malcolm X Blvd', 'address2':...",+19176393919,(917) 639-3919,290.331,40.801650,-73.950290,[American (New)],"[40.80165, -73.95029]"
2,i9OqZT0dLMPC1TbMtyaIWQ,the-noodle-new-york,The Noodle,https://s3-media2.fl.yelpcdn.com/bphoto/xa9pJu...,False,https://www.yelp.com/biz/the-noodle-new-york?a...,42,"[{'alias': 'noodles', 'title': 'Noodles'}]",4.5,"{'latitude': 40.81002, 'longitude': -73.94352}","[pickup, delivery]",NaN,"{'address1': '370 Malcolm X Blvd', 'address2':...",+16468500208,(646) 850-0208,1205.71,40.810020,-73.943520,[Noodles],"[40.81002, -73.94352]"
3,4rWJGwb3rjDoZHA0AECa5A,melbas-restaurant-new-york-2,Melba's Restaurant,https://s3-media2.fl.yelpcdn.com/bphoto/-Osj3D...,False,https://www.yelp.com/biz/melbas-restaurant-new...,1154,"[{'alias': 'tradamerican', 'title': 'American ...",4.0,"{'latitude': 40.8031468838453, 'longitude': -7...","[pickup, restaurant_reservation, delivery]",$$,"{'address1': '300 W 114th St', 'address2': '',...",+12128647777,(212) 864-7777,266.473,40.803147,-73.956507,"[American (Traditional), Soul Food, Comfort Food]","[40.8031468838453, -73.9565069228411]"
4,ueVSTErmXbqtN1glQd5p5A,greedy-pot-new-york,Greedy Pot,https://s3-media3.fl.yelpcdn.com/bphoto/Tt1dWR...,False,https://www.yelp.com/biz/greedy-pot-new-york?a...,32,"[{'alias': 'caribbean', 'title': 'Caribbean'},...",4.5,"{'latitude': 40.80417, 'longitude': -73.95216}",[delivery],NaN,"{'address1': '1944 7th Ave', 'address2': None,...",+19176757676,(917) 675-7676,246.816,40.804170,-73.952160,"[Caribbean, Southern, Barbeque]","[40.80417, -73.95216]"

In [10]:
len(df)

860

In [11]:
df.to_csv('manhattan_df.csv', index=False, header=True)

In [14]:
df = df.drop_duplicates(subset=['name'])

In [15]:
len(df)

1262

In [16]:
df.to_csv('surrounding_nyc_yelp_dataset_nyc.csv', index=False, header=True)

In [96]:
zip_codes_list_trial = [94134]

In [104]:
business_data['businesses'][0].keys()

dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance'])

In [53]:
# Set list of keys as column names
cols = list(business_data['businesses'][0].keys())

# Ceate a DataFrame
df = pd.DataFrame(columns=cols)

for biz in business_data['businesses']:
    df = df.append(biz, ignore_index=True)
df.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,KA-P3d2NcbJy5SQN-vCzPA,aria-korean-street-food-san-francisco,Aria Korean Street Food,https://s3-media1.fl.yelpcdn.com/bphoto/GLvMxR...,False,https://www.yelp.com/biz/aria-korean-street-fo...,878,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",4.0,"{'latitude': 37.78655, 'longitude': -122.41795}","[pickup, delivery]",$$,"{'address1': '932 Larkin St', 'address2': '', ...",+14152926914,(415) 292-6914,808.116197
1,hqQoVK0vadOX7_4gN1sh3g,saigon-sandwich-san-francisco,Saigon Sandwich,https://s3-media3.fl.yelpcdn.com/bphoto/lE_HHi...,False,https://www.yelp.com/biz/saigon-sandwich-san-f...,3345,"[{'alias': 'vietnamese', 'title': 'Vietnamese'...",4.5,"{'latitude': 37.7831519576568, 'longitude': -1...",[delivery],$,"{'address1': '560 Larkin St', 'address2': '', ...",+14154745698,(415) 474-5698,424.979347
2,lJAGnYzku5zSaLnQ_T6_GQ,brendas-french-soul-food-san-francisco-5,Brenda's French Soul Food,https://s3-media3.fl.yelpcdn.com/bphoto/sNIJne...,False,https://www.yelp.com/biz/brendas-french-soul-f...,11055,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"{'latitude': 37.7829016035273, 'longitude': -1...",[delivery],$$,"{'address1': '652 Polk St', 'address2': '', 'a...",+14153458100,(415) 345-8100,425.454126
3,vmZ-bgnM5B76NUpegAjy1g,hotbird-san-francisco-4,Hotbird,https://s3-media3.fl.yelpcdn.com/bphoto/ea4wHr...,False,https://www.yelp.com/biz/hotbird-san-francisco...,128,"[{'alias': 'sandwiches', 'title': 'Sandwiches'...",4.5,"{'latitude': 37.7768004184036, 'longitude': -1...",[],NaN,"{'address1': '1355 Market St', 'address2': 'St...",,,295.841180
4,u39mZEYojBiNic3lqKhPNw,tacorea-san-francisco,Tacorea,https://s3-media1.fl.yelpcdn.com/bphoto/wWmEPL...,False,https://www.yelp.com/biz/tacorea-san-francisco...,1716,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",4.5,"{'latitude': 37.7897794, 'longitude': -122.410...",[],$$,"{'address1': '809 Bush St', 'address2': '', 'a...",+14154848911,(415) 484-8911,1301.463708

In [29]:
df2 = df['coordinates'].apply(pd.Series)
#break up latitude and longitude

In [66]:
df = pd.concat([df, df2], axis=1)
# # after this you get latitude and longitude

In [67]:
df.head(1)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance,categories_list,latitude,longitude
0,KA-P3d2NcbJy5SQN-vCzPA,aria-korean-street-food-san-francisco,Aria Korean Street Food,https://s3-media1.fl.yelpcdn.com/bphoto/GLvMxR...,False,https://www.yelp.com/biz/aria-korean-street-fo...,878,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",4.0,"{'latitude': 37.78655, 'longitude': -122.41795}","[pickup, delivery]",$$,"{'address1': '932 Larkin St', 'address2': '', ...",+14152926914,(415) 292-6914,808.116197,"[Korean, Tapas/Small Plates, Chicken Shop]",37.763666,-122.480958

In [62]:
# df3 = df['categories'].apply(pd.Series)

In [64]:
# df3.head()
# this doesn't work

,0,1,2
0,"{'alias': 'korean', 'title': 'Korean'}","{'alias': 'tapasmallplates', 'title': 'Tapas/S...","{'alias': 'chickenshop', 'title': 'Chicken Shop'}"
1,"{'alias': 'vietnamese', 'title': 'Vietnamese'}","{'alias': 'sandwiches', 'title': 'Sandwiches'}",NaN
2,"{'alias': 'breakfast_brunch', 'title': 'Breakf...","{'alias': 'southern', 'title': 'Southern'}","{'alias': 'cajun', 'title': 'Cajun/Creole'}"
3,"{'alias': 'sandwiches', 'title': 'Sandwiches'}","{'alias': 'chickenshop', 'title': 'Chicken Shop'}","{'alias': 'burgers', 'title': 'Burgers'}"
4,"{'alias': 'mexican', 'title': 'Mexican'}","{'alias': 'korean', 'title': 'Korean'}","{'alias': 'latin', 'title': 'Latin American'}"

In [34]:
# df['categories'][0][0]['title']

'Seafood'

In [35]:
# df['categories'][0][1]['title']

'Chicken Wings'

In [56]:
# # create a variable
# categories_list = []

# # for each row in df.categories,
# for row in df['categories']:
#     length_of_cell = len(df['categories'][0])
#     categories_list.append()

# # what is this doing here?

TypeError: append() takes exactly one argument (0 given)

In [57]:
# for ind in df.index: 
#     length_of_cell = len(df['categories'][ind])
# # this will return the length of cells

In [38]:
# #create a list here 
# #with this list you need to be able to append another list
# new_list = []
# for ind in df.index: 
#     length_of_cell = len(df['categories'][ind])
#     new_list.append([length_of_cell, length_of_cell])
# print(new_list)

[[3, 3], [2, 2], [1, 1], [2, 2], [3, 3], [3, 3], [3, 3], [2, 2], [1, 1], [3, 3], [2, 2], [1, 1], [3, 3], [2, 2], [3, 3], [1, 1], [2, 2], [2, 2], [3, 3], [1, 1]]

In [39]:
# #create a list here 
# #with this list you need to be able to append another list
# new_list = []
# for ind in df.index: 
#     length_of_cell = len(df['categories'][ind])
#     new_list.append([length_of_cell, length_of_cell])
# print(new_list)

[[3, 3], [2, 2], [1, 1], [2, 2], [3, 3], [3, 3], [3, 3], [2, 2], [1, 1], [3, 3], [2, 2], [1, 1], [3, 3], [2, 2], [3, 3], [1, 1], [2, 2], [2, 2], [3, 3], [1, 1]]

In [59]:
#create a list here 
#with this list you need to be able to append another list
new_list = []
for ind in df.index: 
    length_of_cell = df['categories'][ind]
    count = 0
    second_new_list = []
    for val in length_of_cell:
        second_new_list.append(df['categories'][ind][count]['title'])
        count = count + 1
    new_list.append(second_new_list)
print(new_list)
## can you explain this?
## yelp api

[['Korean', 'Tapas/Small Plates', 'Chicken Shop'], ['Vietnamese', 'Sandwiches'], ['Breakfast & Brunch', 'Southern', 'Cajun/Creole'], ['Sandwiches', 'Chicken Shop', 'Burgers'], ['Mexican', 'Korean', 'Latin American'], ['Japanese Curry', 'Thai'], ['Japanese', 'Noodles'], ['Bakeries', 'Breakfast & Brunch'], ['Filipino', 'Food Trucks', 'Asian Fusion'], ['Korean'], ['Korean', 'Soup', 'Noodles'], ['Asian Fusion', 'Hawaiian', 'Poke'], ['Filipino'], ['Korean', 'Fast Food'], ['Chinese', 'Vietnamese', 'Noodles'], ['Pizza'], ['American (Traditional)', 'Breakfast & Brunch', 'Cafes'], ['Falafel', 'Vegan'], ['Vietnamese', 'Sandwiches'], ['Ramen']]

In [68]:
df['categories_list'] = new_list

In [69]:
df.head(5)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance,categories_list,latitude,longitude
0,KA-P3d2NcbJy5SQN-vCzPA,aria-korean-street-food-san-francisco,Aria Korean Street Food,https://s3-media1.fl.yelpcdn.com/bphoto/GLvMxR...,False,https://www.yelp.com/biz/aria-korean-street-fo...,878,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",4.0,"{'latitude': 37.78655, 'longitude': -122.41795}","[pickup, delivery]",$$,"{'address1': '932 Larkin St', 'address2': '', ...",+14152926914,(415) 292-6914,808.116197,"[Korean, Tapas/Small Plates, Chicken Shop]",37.763666,-122.480958
1,hqQoVK0vadOX7_4gN1sh3g,saigon-sandwich-san-francisco,Saigon Sandwich,https://s3-media3.fl.yelpcdn.com/bphoto/lE_HHi...,False,https://www.yelp.com/biz/saigon-sandwich-san-f...,3345,"[{'alias': 'vietnamese', 'title': 'Vietnamese'...",4.5,"{'latitude': 37.7831519576568, 'longitude': -1...",[delivery],$,"{'address1': '560 Larkin St', 'address2': '', ...",+14154745698,(415) 474-5698,424.979347,"[Vietnamese, Sandwiches]",37.760261,-122.411205
2,lJAGnYzku5zSaLnQ_T6_GQ,brendas-french-soul-food-san-francisco-5,Brenda's French Soul Food,https://s3-media3.fl.yelpcdn.com/bphoto/sNIJne...,False,https://www.yelp.com/biz/brendas-french-soul-f...,11055,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"{'latitude': 37.7829016035273, 'longitude': -1...",[delivery],$$,"{'address1': '652 Polk St', 'address2': '', 'a...",+14153458100,(415) 345-8100,425.454126,"[Breakfast & Brunch, Southern, Cajun/Creole]",37.775923,-122.495789
3,vmZ-bgnM5B76NUpegAjy1g,hotbird-san-francisco-4,Hotbird,https://s3-media3.fl.yelpcdn.com/bphoto/ea4wHr...,False,https://www.yelp.com/biz/hotbird-san-francisco...,128,"[{'alias': 'sandwiches', 'title': 'Sandwiches'...",4.5,"{'latitude': 37.7768004184036, 'longitude': -1...",[],NaN,"{'address1': '1355 Market St', 'address2': 'St...",,,295.841180,"[Sandwiches, Chicken Shop, Burgers]",37.762377,-122.506570
4,u39mZEYojBiNic3lqKhPNw,tacorea-san-francisco,Tacorea,https://s3-media1.fl.yelpcdn.com/bphoto/wWmEPL...,False,https://www.yelp.com/biz/tacorea-san-francisco...,1716,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",4.5,"{'latitude': 37.7897794, 'longitude': -122.410...",[],$$,"{'address1': '809 Bush St', 'address2': '', 'a...",+14154848911,(415) 484-8911,1301.463708,"[Mexican, Korean, Latin American]",37.763693,-122.469008

In [70]:
df['coordinates_list'] = df[['latitude', 'longitude']].values.tolist()
# you are making this so that the geojson can read it, however this might not be necessary if you are loading a geojson file

In [73]:
df.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,...,price,location,phone,display_phone,distance,categories_list,latitude,longitude,coordinates_list,zip_code
0,KA-P3d2NcbJy5SQN-vCzPA,aria-korean-street-food-san-francisco,Aria Korean Street Food,https://s3-media1.fl.yelpcdn.com/bphoto/GLvMxR...,False,https://www.yelp.com/biz/aria-korean-street-fo...,878,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",4.0,"{'latitude': 37.78655, 'longitude': -122.41795}",...,$$,"{'address1': '932 Larkin St', 'address2': '', ...",+14152926914,(415) 292-6914,808.116197,"[Korean, Tapas/Small Plates, Chicken Shop]",37.763666,-122.480958,"[37.763666, -122.480958]",94102
1,hqQoVK0vadOX7_4gN1sh3g,saigon-sandwich-san-francisco,Saigon Sandwich,https://s3-media3.fl.yelpcdn.com/bphoto/lE_HHi...,False,https://www.yelp.com/biz/saigon-sandwich-san-f...,3345,"[{'alias': 'vietnamese', 'title': 'Vietnamese'...",4.5,"{'latitude': 37.7831519576568, 'longitude': -1...",...,$,"{'address1': '560 Larkin St', 'address2': '', ...",+14154745698,(415) 474-5698,424.979347,"[Vietnamese, Sandwiches]",37.760261,-122.411205,"[37.76026094, -122.4112048]",94102

In [105]:
df.head(1)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance,latitude,longitude,categories_list,coordinates_list
0,EpDYdBl4Ix_BTiqAHIWDPQ,banh-mi-house-san-francisco,Banh Mi House,https://s3-media3.fl.yelpcdn.com/bphoto/Sr_lKA...,False,https://www.yelp.com/biz/banh-mi-house-san-fra...,176,"[{'alias': 'sandwiches', 'title': 'Sandwiches'...",4.5,"{'latitude': 37.72756, 'longitude': -122.403471}",[],$,"{'address1': '2701 San Bruno Ave', 'address2':...",+14157695556,(415) 769-5556,787.160433,37.72756,-122.403471,"[Sandwiches, Coffee & Tea, Vietnamese]","[37.72756, -122.403471]"


Required skill convert dataframe to list then back again

```Python

li = df.values.tolist()
column_keys = df.keys()
test_df = pd.DataFrame(li, columns=column_keys)

```

In [46]:
geo_json_demo_csv =  df[['name', 'rating', 'review_count', 'latitude', 'longitude','categories_list', 'url']]

In [47]:
geo_json_demo_csv.head(1)

,name,rating,review_count,latitude,longitude,categories_list,url
0,Krispy Krunchy Chicken,4.5,28,37.763666,-122.480958,"[Seafood, Chicken Wings, Cajun/Creole]",https://www.yelp.com/biz/krispy-krunchy-chicke...

In [48]:
geo_json_demo_csv.to_csv('sunset_geo_json_demo.csv', index=False, header=True)

In [24]:
parsed_df = df[['name', 'rating', 'review_count', 'coordinates_list', 'categories_list', 'url']]

In [25]:
parsed_df.to_dict('records')

[{'name': 'Man vs Fries',
  'rating': 4.0,
  'review_count': 39,
  'coordinates_list': [37.7474, -122.41794],
  'categories_list': ['Mexican', 'Pop-Up Restaurants'],
  'url': 'https://www.yelp.com/biz/man-vs-fries-san-francisco-2?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g'},
 {'name': 'El Farolito',
  'rating': 4.0,
  'review_count': 4970,
  'coordinates_list': [37.75265, -122.41812],
  'categories_list': ['Mexican'],
  'url': 'https://www.yelp.com/biz/el-farolito-san-francisco-2?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g'},
 {'name': 'Tacos El Patrón',
  'rating': 4.0,
  'review_count': 409,
  'coordinates_list': [37.748949, -122.416138],
  'categories_list': ['Tacos'],
  'url': 'https://www.yelp.com/biz/tacos-el-patr%C3%B3n-san-francisco-2?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g'},
 {'name': 'RakiRaki by Junya Watanabe',
  'rating': 4.5,
  'review_count': 11,
  'coordinates_list': [37.7444, -122.420922],
  'categories_list': ['Ramen', 'Sushi Bars'],
  'url': 'https://www.yelp.com/biz/rakiraki-by-junya-watanabe-san-francisco-3?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g'},
 {'name': 'Basa Seafood Express',
  'rating': 4.5,
  'review_count': 713,
  'coordinates_list': [37.75276, -122.41338],
  'categories_list': ['Seafood', 'Sandwiches', 'Burgers'],
  'url': 'https://www.yelp.com/biz/basa-seafood-express-san-francisco?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g'},
 {'name': 'Phat Philly',
  'rating': 4.0,
  'review_count': 1036,
  'coordinates_list': [37.75224, -122.42037],
  'categories_list': ['Sandwiches', 'Cheesesteaks', 'Chicken Wings'],
  'url': 'https://www.yelp.com/biz/phat-philly-san-francisco?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g'},
 {'name': 'Olinda Brazilian Kitchen',
  'rating': 5.0,
  'review_count': 1,
  'coordinates_list': [37.7368916583, -122.405298],
  'categories_list': ['Brazilian'],
  'url': 'https://www.yelp.com/biz/olinda-brazilian-kitchen-san-francisco?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g'},
 {'name': 'Chicken as Cluck',
  'rating': 4.0,
  'review_count': 153,
  'coordinates_list': [37.7505862896473, -122.395178442908],
  'categories_list': ['Chicken Shop', 'Food Delivery Services'],
  'url': 'https://www.yelp.com/biz/chicken-as-cluck-san-francisco?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g'},
 {'name': 'United Dumplings',
  'rating': 4.5,
  'review_count': 53,
  'coordinates_list': [37.739223, -122.416008],
  'categories_list': ['Chinese', 'Asian Fusion', 'Noodles'],
  'url': 'https://www.yelp.com/biz/united-dumplings-san-francisco?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g'},
 {'name': 'Kazan',
  'rating': 4.5,
  'review_count': 440,
  'coordinates_list': [37.752694, -122.408469],
  'categories_list': ['Japanese', 'Sushi Bars', 'Soup'],
  'url': 'https://www.yelp.com/biz/kazan-san-francisco?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g'},
 {'name': 'Taqueria Vallarta',
  'rating': 4.0,
  'review_count': 819,
  'coordinates_list': [37.7524796182579, -122.412584026201],
  'categories_list': ['Tacos'],
  'url': 'https://www.yelp.com/biz/taqueria-vallarta-san-francisco?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g'},
 {'name': 'Project Boba',
  'rating': 5.0,
  'review_count': 16,
  'coordinates_list': [37.736819, -122.405298],
  'categories_list': ['Bubble Tea'],
  'url': 'https://www.yelp.com/biz/project-boba-san-francisco?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g'},
 {'name': 'Peaches Patties',
  'rating': 4.5,
  'review_count': 64,
  'coordinates_list': [37.750142, -122.414113],
  'categories_list': ['Caribbean'],
  'url': 'https://www.yelp.com/biz/peaches-patties-san-francisco-2?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g'},
 {'name': 'The Front Porch',
  'rating': 4.0,
  'review_count': 2875,
  'coordinates_list': [37.7438, -122.422035],
  'categories_list': ['Southern', 'Cajun/Creole', 'American (Traditional)'],
  'url': 'https://www.yelp.com/biz/the-front-porch-san-francisco?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g'},
 {'name': 'The Halal Guys',
  'rating': 3.5,
  'review_count': 840,
  'coordinates_list': [37.786352, -122.4104376],
  'categories_list': ['Halal', 'Middle Eastern', 'Mediterranean'],
  'url': 'https://www.yelp.com/biz/the-halal-guys-san-francisco-san-francisco?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g'},
 {'name': 'Top Round Roast Beef',
  'rating': 4.0,
  'review_count': 175,
  'coordinates_list': [37.75289, -122.41139],
  'categories_list': ['Fast Food', 'Sandwiches', 'Ice Cream & Frozen Yogurt'],
  'url': 'https://www.yelp.com/biz/top-round-roast-beef-san-francisco-3?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g'},
 {'name': 'Bac Lieu Restaurant',
  'rating': 4.5,
  'review_count': 198,
  'coordinates_list': [37.745267, -122.420402],
  'categories_list': ['Vietnamese', 'Noodles', 'Soup'],
  'url': 'https://www.yelp.com/biz/bac-lieu-restaurant-san-francisco?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g'},
 {'name': 'Yamo',
  'rating': 4.0,
  'review_count': 1988,
  'coordinates_list': [37.7619463343878, -122.419764563536],
  'categories_list': ['Burmese', 'Chinese'],
  'url': 'https://www.yelp.com/biz/yamo-san-francisco?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g'},
 {'name': 'Señor Sisig',
  'rating': 4.0,
  'review_count': 192,
  'coordinates_list': [37.757154, -122.421326],
  'categories_list': ['Filipino'],
  'url': 'https://www.yelp.com/biz/se%C3%B1or-sisig-san-francisco-9?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g'},
 {'name': 'Farmhouse Kitchen Thai Cuisine',
  'rating': 4.0,
  'review_count': 2648,
  'coordinates_list': [37.76026094, -122.4112048],
  'categories_list': ['Thai', 'Comfort Food'],
  'url': 'https://www.yelp.com/biz/farmhouse-kitchen-thai-cuisine-san-francisco?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g'}]

In [54]:
parsed_df.to_csv('parsed_data.csv', index=False, header=True)

In [20]:
#print(json.dumps(business_data, indent=4, sort_keys=True))

*on the JSON file, get the first category of the first read <br>
*print(response_json["cost_per_launch"]) <br>
*great, so now what you need to do  <br>

```python
print(business_data['businesses'][8]['categories'][0]['alias'])

```

So I see that but I want to find out what is the name of the 9th element <br>
* see name
* see address
* see categories
* rating
* review counts
* coordinates
* url

In [26]:
#the name
print(business_data['businesses'][8]['name'])
# the address
print(business_data['businesses'][8]['location']['display_address'])
# the categories
print(business_data['businesses'][8]['categories'])
# ratings
print(business_data['businesses'][8]['rating'])
# review count
print(business_data['businesses'][8]['review_count'])
# coordinates
print(business_data['businesses'][8]['coordinates'])
#url
print(business_data['businesses'][8]['url'])

RakiRaki by Junya Watanabe
['3282 Mission St', 'San Francisco, CA 94110']
[{'alias': 'ramen', 'title': 'Ramen'}, {'alias': 'sushi', 'title': 'Sushi Bars'}]
4.5
11
{'latitude': 37.7444, 'longitude': -122.420922}
https://www.yelp.com/biz/rakiraki-by-junya-watanabe-san-francisco-3?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g

In [ ]:
#the name
print(business_data['businesses'][8]['name'])
# the address
print(business_data['businesses'][8]['location']['display_address'])
# the categories
print(business_data['businesses'][8]['categories'])
# ratings
print(business_data['businesses'][8]['rating'])
# review count
print(business_data['businesses'][8]['review_count'])
# coordinates
print(business_data['businesses'][8]['coordinates'])
#url
print(business_data['businesses'][8]['url'])

In [ ]:
# pretty sure there will be a forloop somewhere
business_name = business_data['businesses'][8]['name']
business_address = business_data['businesses'][8]['location']['display_address']
business_categories = business_data['businesses'][8]['categories']
business_rating = business_data['businesses'][8]['rating']
business_review_count = business_data['businesses'][8]['review_count']
business_coordinates = business_data['businesses'][8]['coordinates']
business_url = business_data['businesses'][8]['url']

In [23]:
import pprint
pprint.pprint(business_data['businesses'][8])

{'alias': 'rakiraki-by-junya-watanabe-san-francisco-3',
 'categories': [{'alias': 'ramen', 'title': 'Ramen'},
                {'alias': 'sushi', 'title': 'Sushi Bars'}],
 'coordinates': {'latitude': 37.7444, 'longitude': -122.420922},
 'display_phone': '(415) 237-6252',
 'distance': 710.6615685816337,
 'id': 'EP7wWVVI0oPckKgm6bHQzg',
 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/6xyAReexn0z2z2epcnaTBw/o.jpg',
 'is_closed': False,
 'location': {'address1': '3282 Mission St',
              'address2': None,
              'address3': '',
              'city': 'San Francisco',
              'country': 'US',
              'display_address': ['3282 Mission St', 'San Francisco, CA 94110'],
              'state': 'CA',
              'zip_code': '94110'},
 'name': 'RakiRaki by Junya Watanabe',
 'phone': '+14152376252',
 'rating': 4.5,
 'review_count': 11,
 'transactions': [],
 'url': 'https://www.yelp.com/biz/rakiraki-by-junya-watanabe-san-francisco-3?adjust_creative=Ew22WtqM03RGdHlepBFF7g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ew22WtqM03RGdHlepBFF7g'}

print(business_data['businesses'][8]['categories'][0]['alias'])

In [ ]:
# there is

In [ ]:
# Creates a new DataFrame with businesses as rows and columns as categories tags with 0 or 1 depending on whether the business is that category
categories_list = []

# Makes empty values an string of empty lists. This prevents Null errors later in the code.
business.categories = business.categories.fillna('[]')

# Creates all categories as a single list. Goes through each business's list of categories and adds any unique values to the master list, categories_list
for x in range(len(business)):
    # business.categories is storing each value as a list (even though it's formatted just like a string), so this converts it to a List
    categories = eval(str(business.categories[x]))
    # Looks at each categories, adding it to categories_list if it's not already there
    for category in categories:
        if category not in categories_list:
            categories_list.append(category)

# Makes the list of categories (and business_id) the colums of the new DataFrame
categories_df = pd.DataFrame(columns = ['business_id'] + categories_list, index = business.index)

# Loops through determining whether or not each business has each category, storing this as a 1 or 0 for that category type respectivity.
for x in range(len(business)):
    for y in range(len(categories_list)):
        cat = categories_list[y]
        if cat in eval(business.categories[x]):
            categories_df[cat][x] = 1
        else:
            categories_df[cat][x] = 0

# Imports the original business_id's into the new DataFrame. This allows me to cross-reference this DataFrame with my other datasets for analysis
categories_df.business_id = business.business_id

categories_df